@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
.website-name{
    color: #461a96;
    font-weight: 700;
    font-family: 'Montserrat', sans-serif;
}

  header .logo {
    font-size: 24px;
    font-weight: bold;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }
  
  header nav ul li {
    padding: 0.5em 1em;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  