@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap');


header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1em;
    background: #fff;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  }
  
.website-name{
    color: #461a96;
    font-weight: 700;
    font-size: 1.7vb;
    font-family: 'Montserrat', sans-serif;
}

  header .logo {
    font-size: 5vb;
    font-weight: bold;
  }
  
  header nav ul {
    list-style: none;
    display: flex;
    gap: 1em;
  }
  
  header nav ul li {
    padding: 0.5em 1em;
  }
  
  header nav ul li a {
    text-decoration: none;
    color: #333;
  }
  
  header nav ul li a::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px; /* Increased height for better visibility */
    background-color: #461a96;
    bottom: 0;
    left: 0;
    transform: scaleX(0); /* Initial state - no width */
    transition: transform 0.3s ease; /* Transition effect */
}

header nav ul li a:hover::after {
    transform: scaleX(1); /* Expand width on hover */
}

.nav-link {
  position: relative;
  text-decoration: none;
  color: #333;
}

/* Style the underline */
.nav-link::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background-color: #461a96;
  bottom: 0;
  left: 0;
  transform: scaleX(0);
  transition: transform 0.3s ease;
  z-index: 1; /* Ensure the underline is above other elements */
}

/* Expand the underline on hover */
.nav-link:hover::after {
  transform: scaleX(1);
}

/* Adjust the image size and margin */
.auctionImg {
  width: 4vb;
  height: auto;
  margin-left: 5px;
}

/* Adjust the margin for the navigation */
.website-name nav {
  margin-left: 135vb;
}


.auctionImg {
  width: 4vb; /* Adjust width as needed */
  height: auto; /* Maintain aspect ratio */
  margin-left: 5px; /* Add right margin for spacing */
}

.website-name nav {
  margin-left: 135vb; /* Move the navigation to the right */
}
