@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

.input {
    font-size: 16px;
    padding: 10px 10px 10px 5px;
    display: block;
    border: none;
    border-bottom: 1px solid #515151;
    background: transparent;
}

.input:focus {
    outline: none;
}

.bar {
    position: relative;
    display: block;
}

.bar:before,
.bar:after {
    content: '';
    height: 2px;
    width: 0;
    bottom: 1px;
    position: absolute;
    background: #5264AE;
    transition: 0.2s ease all;
    -moz-transition: 0.2s ease all;
    -webkit-transition: 0.2s ease all;
}

.bar:before {
    left: 50%;
}

.bar:after {
    right: 50%;
}

.input:focus~.bar:before,
.input:focus~.bar:after {
    width: 50%;
}

.highlight {
    position: absolute;
    height: 60%;
    width: 100px;
    top: 25%;
    left: 0;
    pointer-events: none;
    opacity: 0.5;
}

.input:focus~.highlight {
    animation: inputHighlighter 0.3s ease;
}

@keyframes inputHighlighter {
    from {
        background: #5264AE;
    }

    to {
        width: 0;
        background: transparent;
    }
}

.btn-login {
    background-color: white;
    color: rgb(100, 100, 100);
    padding: 10px 20px;
    border-radius: 10px;
    border: 1px solid rgb(210, 210, 210);
    box-shadow: 0px 2px 3px #e0e4ec97;
}

.btn-signup {
    background-color: rgb(147 51 234);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 10px 20px;
    border-radius: 10px;
    border: 0;
    margin-left: 10px;
    box-shadow: 0px 2px 3px #0d5df14c;
}

.home-section {
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home-content {
    text-align: center;
    max-width: 900px;
    width: 100%;
}

.home-text {
    font-size: 3rem;
    margin: 0;
}

.home-text .tag {
    color: #ef4f1a;
    background-color: rgba(242, 179, 158, 0.634);
    padding: 3px 5px;
    border-radius: 3px;
}

.home-btn {
    background-color: rgb(147 51 234);
    color: rgb(255, 255, 255);
    font-weight: bold;
    padding: 15px 40px;
    font-size: 24px;
    border-radius: 10px;
    border: 0;
    box-shadow: 0px 4px 6px #0d5df16a;
}

.home-content p {
    color: #959595;
    margin-top: 30px;
}