.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align items to the top of the container */
    height: 100vh;
    padding-top: 20vh; /* Add padding to move items down from the top */
  }
  
  .form {
    margin-bottom: 20px;
  }
  
  .input-container {
    position: relative;
    width: 250px;
    height: 40px;
    margin-bottom: 10px;
  }
  
  .input-container input {
    width: 100%;
    height: 100%;
    border: 2px solid #ccc;
    border-radius: 20px;
    padding: 0 15px;
    font-size: 16px;
    outline: none;
  }
  
  .input-container input:focus {
    border-color: #007bff;
  }
  
  .button {
    position: relative;
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff;
    color: white;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    border-radius: 20px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .button:hover {
    background-color: #0056b3;
  }